/* global resets */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  /* font families */
  --ff-main: 'Roboto', sans-serif;

  /* font sizes */
  --fs-small: 18px;
  --fs-med: 24px;
  --fs-large: 36px;
  --fs-xlrg: 48px;

  /* font weights */
  --fw-light: 100;
  --fw-reg: 400;
  --fw-bold: 900;

  /* font colors */
  --clr-txt-primary: #F9FAf8;
  --clr-txt-secondary: #E5E7EB;
  --clr-txt-info: #1f2937;
  --clr-txt-quote: #1F2937;

  /* background colors */
  --clr-bg-dark: #1F2937;
  --clr-bg-light: #f9FAF8;
  --clr-bg-btn: #3882F6;
  --clr-bg-quote: #E5E7EB;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--ff-main);
}

.section--content {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  padding: 10px 2vw 50px 2vw;
}

.container--content {
  flex: 0 1 1000px;
  height: 100%;
}

.section--header {
  background-color: var(--clr-bg-dark);
}

.container--header {
  display: flex;
  flex-direction: column;
}

.nav--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.logo--header {
  flex-shrink: 0;
  color: var(--clr-txt-primary);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  cursor: default;
}

.nav--header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}

.nav--header ul li {
  padding: 2px;
}

.nav--header ul li:hover {
  border-bottom: var(--clr-txt-primary) solid 2px;
}

.nav--header ul li a {
  color: var(--clr-txt-secondary);
  text-decoration: none;
}

.nav--header ul li a:hover {
  color: var(--clr-txt-primary);
  cursor: default;
}

.container--hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
  height: 100%;
}

.info--hero {
  flex: 1 0 417px;
  padding: 20px 0;
}

.heading--hero {
  color: var(--clr-txt-primary);
  font-size: var(--fs-xlrg);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

.description--hero {
  margin-bottom: 15px;
  color: var(--clr-txt-secondary);
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
  line-height: 1.5;
}

.image--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 417px;
  aspect-ratio: 16 / 9;
  padding: 20px 0;
  background-color: #F9FAf822;
}

.img-text--hero {
  color: var(--clr-txt-primary);
  opacity: 80%;
}

.btn--signup {
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-bg-btn);
  color: var(--clr-txt-primary);
  font-size: var(--fs-small);
}

.section--showcase {
  padding: 50px 0;
}

.container--showcase {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.container--gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;

}

.heading--showcase {
  color: var(--clr-txt-info);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  text-align: center;
}

.product--gallery {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.img--gallery {
  width: 150px;
  height: 150px;
  border: var(--clr-bg-btn) solid 4px;
  border-radius: 15px;
}

.description--gallery {
  width: 150px;
  color: var(--clr-txt-info);
  font-size: var(--fs-small);
}

.section--quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  background-color: var(--clr-bg-quote);
}



.container--quote {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-size: var(--fs-large);
  font-weight: var(--fw-light);
  font-style: italic;
}

.quote--author {
  text-align: right;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
}

.section--cta {
  align-items: center;
}

.container--cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 75px 25px;
  border-radius: 5px;
  background-color: var(--clr-bg-btn);

}

.info--cta {
  color: var(--clr-txt-primary);
}

.heading--cta {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
}

.description--cta {
  font-size: 14px;
  font-weight: var(--fw-light);
}

.signup--cta {
  display: block;
  width: 150px;
  padding: 5px 10px;
  border: var(--clr-txt-primary) solid 2px;
  border-radius: 5px;
  background-color: var(--clr-bg-btn);
  color: var(--clr-txt-primary);
}

.signup--cta:hover {
  color: var(--clr-bg-btn);
  background-color: var(--clr-txt-primary);
}



