/* Global resets */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page sizing */
html {
  font-family: var(--ff-main);
}

body {
  width: 100vw;
  height: 100vh;
}

/* Custom Property Variables */
:root {
  /* font families */
  --ff-main: 'Roboto', sans-serif;

  /* font sizes */
  --fs-small: 18px;
  --fs-med: 24px;
  --fs-large: 36px;
  --fs-xlarge: 48px;

  /* font weight */
  --fw-light: 100;
  --fw-reg: 400;
  --fw-bold: 900;

  /* font colors */
  --clr-txt-hero: #F9FAF8;
  --clr-txt-hero-secondary: #E5E7EB;
  --clr-txt-header: #F9FAF8;
  --clr-txt-logo: #F9FAF8;
  --clr-txt-header-link: #E5E7EB;
  --clr-text-footer: #E5E7EB;
  
  /* Background colors */
  --clr-bg-dark: #1F2937;
  --clr-bg-quote: #E5E7EB;
  --clr-bg-light: #3882F6;
  --clr-btn: #3882F6;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 20px;
}

.header--page, .footer--page {
  background-color: var(--clr-bg-dark);
}

.container--content {
  width: 100%;
  max-width: 1000px;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--clr-txt-header);
  font-size: var(--fs-med);
  font-weight: var(--fw-bold);
}

.logo--header {
  flex-shrink: 0;
}

.nav--header ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  list-style-type: none;
}

.nav--header ul li .link--nav {
  color: var(--clr-txt-header-link);
  text-decoration: none;
  font-size: var(--fs-small);
  
  padding: 2px 0;
}

.nav--header ul li .link--nav:hover {
  border-bottom: var(--clr-txt-header-link) solid 2px;
}

.container--footer {
  display: flex;
  justify-content: center;

  color: var(--clr-text-footer);
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
}
